/* -----General styles------------- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  Fira Sans,sans-serif;
}
body{
  max-width: 1920px;
  overflow-x: hidden;
}
body.active{
  overflow-y: hidden;
}
ul, li, a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  list-style-type: none;
}
.flex{
  display: flex;
  align-items: center;
}
.center{
  display: flex;
  justify-content: center;
  align-items:center;
}
.container{
  width: 90vw;
  margin: 0 auto;
}
.underline-hover-effect{
  display: inline-block;
  position: relative;
  padding-bottom: 4px;
  white-space: nowrap;
}
.underline-hover-effect::before{
content: ""; 
position: absolute;
left: 0;
bottom: 0;
width: 0;
height: 2px;
background: #000;
transition: width 0.25s ease-in-out;
}
.underline-hover-effect:hover::before{
width: 100%;
}
/* --------Header---------- */
.contact-info{
  background: #BB2528;
  height: 45px;
  color:white;
  justify-content: space-between;
  padding: 0 90px;
  /* display: none; */
}
.contact-info a:hover{
 text-decoration: underline;

}
.navbar{  
  flex-wrap: wrap;
  padding: 35px 40px;
  justify-content: space-between;
}
.navbar-container{
  width: 80%;
  letter-spacing: 4;
}
.extra-link{
  display: none;
}
.navbar-container li:hover{
color: #BB2528;
}
.navbar-container li:not(:first-child){
margin-right: 40px;
}
.navbar-container li a{
    width: 100%;
    letter-spacing: 1.5px;
  }
.navbar-container li:first-child{
   margin-left: auto;
  }
.navbar-container li{
   margin-left: 20px;
  }

.social-icons-container{
  justify-content: space-between;
  text-align: center;
  width: 135px;
  color:#4f4f4f;
  margin-left: auto;
}

.social-icons-container li{
  border: 1px solid #4f4f4f;
  height: 30px;
  width: 30px;
margin-right: 10px;
}
.social-icons-container li:hover{
  background: #4f4f4f;
  color:white;
  }


@media (min-width: 992px) {
  .contact-info{
    display: flex;
  }
}
/* ---------Hamburger menu----------------- */
.hamburger{
  display: none;
  cursor: pointer;
}
.hamburger:hover .bar{
background: grey;
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background: #000;
  transition: all .3s ease-in-out;
}
@media (max-width:768px){
  .hamburger{
    display: block;
  }
  .navbar-container{
    position: fixed;
    flex-direction: column;
    top: 110px;
    left: -100%;
    width: 100%;
    text-align: center;
    transition: .3s;
    background: white;
    height: 100%;
  }
  .social-icons-container{
    position: fixed;
    top: 500px;
    text-align: center;
    justify-content: center;
    left: -100%;
    text-align: center;
    width: 100%;

  }
  .extra-link{
    display: block;
  }
  .navbar-container .extra-link:nth-child(6){
    color: grey;
  }
  .navbar-container .extra-link:nth-child(7){
    color: #BB2528;
  }
  .navbar-container .extra-link:nth-child(8){
    color: #BB2528;
  }
  
  .social-icons-container{
    justify-content: center;
  flex-direction: row;
  }
  .navbar-container li:first-child{
    margin-left: -30px;
   }
   .hamburger.active .bar:nth-child(1){
transform: translateY(8px) rotate(45deg);
   }
   .hamburger.active .bar:nth-child(2){
opacity: 0;
   }
   .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);

   }
   .navbar-container.active, .social-icons-container.active{
    left: 0;
    }
    .navbar-container li{
      margin: 10px 0;
    }
      .contact-info{
      display: none;
    }
  
}


/* ---------Main----------------- */
.intro-container{
  min-width: 320px;
  width: 100%;
  min-height: 800px;
  background: center / cover no-repeat url("../img/main-photo.png");
  padding-top: 200px;

}

.intro{
  padding: 60px;
  width: 50%;
  /* height: 90vh; */
  background: white;
  margin-left: 100px;
}
.intro p:first-child {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  color:#BB2528;
}
h1{
  margin: 30px 0;
  font-size: 56px;
  font-family: 'Ibarra Real Nova', serif
}
.intro-btn a{
  margin-top: 30px;

  }

.intro-btn a:first-child{
  display: inline-block;
  color:white;
  background:#BB2528;
  padding: 10px 30px;
  margin-right: 20px;
  }

.intro-btn a:last-child{
  display: inline-block;
  color:#000; 
  padding: 10px 30px;
  border: 2px solid black;
}

.intro-btn a:hover{
  margin-top: 30px;
  color:white;
  background: #000;
  }
  @media (max-width: 768px) {
    .intro-container{
    background: center / cover no-repeat url("../img/intro_1200.png");
  }
  h1{
    font-size: 40px;
  }
  .intro{
    padding: 20px;
     width: 70%;
     margin: 0 auto;
  }
  .intro-container p{
    line-height: 2;
  }
  .intro-btn{
    flex-wrap: wrap;
  }
  }
  @media (min-width: 1920px) {
    .intro-container{
    background: center / cover no-repeat url("../img/intro_1920.png");
  }
  }
/* ----------Benefits section--------- */
.benefits-container{
  justify-content: space-between;
}
.benefit{
  width: 25%;
  padding: 100px 20px;
}
.benefit>*{
  margin-bottom: 20px;
  line-height: 1.5;
}
.benefit__icon{
  background:#f9f4ee;
  border-radius: 50%;
  padding: 15px;
  width: 70px;
  height: 70px;
}
.benefit__divider{
  height: 3px;
  width: 15%;
  background-color: #bb2528;
}
.benefit__description{
  color:grey;
}
@media (max-width:991px){
  .container{
    width: 80vw;
    padding: 0;
    margin: 0 auto;
  }
  .benefit{
    width: 50%;
    padding: 40px 0 0;
    margin: 0;

  }
  .benefits-container{
    flex-wrap: wrap;
  }
}
@media (max-width:768px){
  .container{
    width: 80vw;
    padding: 0;
    margin: 0 auto;
  }
  .benefit{
    width: 100%;
    padding: 40px 0 0;
    margin: 0;
  }
}
/* ------------Sales section------------- */
.sales-container{
  justify-content: space-between;
}
.sale:nth-child(1){
  background: right / cover no-repeat url('../img/garland.png');
}
.sale:nth-child(2){
  background: right / cover no-repeat url('../img/baubles.png');
}
.sale{
  padding: 40px;
  color: white;
  width: 49%;
  height: 328px;
}
.sale>*{
margin-bottom: 30px;
}
.sale p:first-child {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
}
.sale__title{
  font-size: 36px;
}
.sale__btn{
  border: 1px solid white;
  padding: 10px 30px;
}
.sale__btn:hover{
  background: #FFF;
color: #000;
}

@media (max-width: 768px) {
  .sales-container{
    flex-wrap: wrap;
  }
  .sale{
    padding: 40px 20px;
    width: 100%;
    margin: 20px 0;
  }
  .sale__title{
    font-size: 38px;
    /* height: auto; */
  }
}
